In [3]:
def func(a,i):
  if i>=len(a):
    return
  print(a[i])

  func(a,i+1)
func([1,2,3],0)

1
2
3

In [5]:
def func(arr,SI):
  if SI>=len(arr):
    return
  func(arr,SI+1)
  print(arr[SI])
func([12,3,4],0)

In [16]:
#[3,5,2,1,4]
def find_min(arr,sI):
  if sI>=len(arr):
    return 448984
  return min(arr[sI],find_min(arr,sI+1))
find_min([3,4,2,5,1],0)

1

In [22]:
def find_min(arr,sI):
  if sI>=len(arr):
    return 448984

  return min(arr[sI],find_min(arr,sI+1))
find_min([3,4,2,5,1],0)

1

In [24]:
#Tower of Hanoi
#recursion
def moves(n,s,d,a):
  #base condition
  if n==1:
    return 1
  return moves(n-1,s,a,d)+1+moves(n-1,a,d,s)
print(moves(3,'s','d','a'))

7